ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

.app-wrapper {
  display: grid;
  max-width: 1024px;
  margin: auto;

  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60xp 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  background-color: #13CE66;
  grid-area: h;
}

.nav {
  background-color: #13CE66;
  grid-area: n;
  height: 100hw;
}

.content {
  background-color: cadetblue;
  grid-area: c;
}

.back-img {}

.avatar {}

.info {}

.my-posts {}

.posts {}